doctype html
html
  head
    title= title

    script(src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous")
    script(src="/javascripts/" + jscript + ".js")

    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(style="width: 50%; margin: 0 auto; text-align: center;")
      div(id="logo")
        img(src="/images/autoneum.jpg" style="width: 50%; margin: 0 auto; padding-bottom: 0;")
        h1(style="color: #9FCF15; margin-top: 0; padding-top: 0; margin-bottom: 25px; font-weight: bold;") London

      h2(id="title")= title
      block content
