extends layout

block content
    h3(id="lineHeader")
    h4(id="lineModeHeader")
    h5(id="materialHeader")

    button(id="requestButton" style="width: 65%; height: 45vh; margin-bottom: 5vh;" class="btn btn-dark") REQUEST
    button(id="configButton" style="width: 40%;" class="btn btn-info") Reconfigure