extends layout

block content
    h3 Select a Line
    select(id="lineSelect" class="form-control" style="width: 50%; margin: 15px auto;")
        option Select a Line

    h3 Select a Line Mode
    select(id="modeSelect" class="form-control" style="width: 50%; margin: 15px auto;")
        option Select a Line Mode

    h3 Select a Material
    select(id="matSelect" class="form-control" style="width: 50%; margin: 15px auto;")
        option Select a Material

    input(type="submit" id="submit" value="Finish" class="btn btn-success" style="width: 30%;")  