extends layout

block content
    h4(id="updateMsg") Loading...

    table(id="table" class="table table-striped")
        thead(class="thead thead-dark")
            th(style="color: #212529;") [ ]
            th Time Requested
            th Line
            th Material
            th Colour
            th Code
            th ID
        tbody(id="tableBody")

    input(type="submit" id="submit" value="Deliver" class="btn btn-success" style="width: 30%;")  